@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* All Elements styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    /* background-color: rgb(0,104,71); */
    background-color: rgb(0, 104, 71);
    font-family: 'Roboto', sans-serif;
    color: rgb(226, 209, 249);;
}

/* Navbar elements styling */

.hz-line {
    /* border-bottom: 3px solid rgb(0, 68, 46); */
    border-bottom: 2px solid white
}

.nav-ele-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-elements {
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-center h1{
    font-size: 28px;
}

 .my-number-display {
    border: 6px double rgb(229, 172, 2);
    font-size: 13vw; 
    margin: 50px 0px;
    text-align: center;
    border-radius: 8px;
    /* color: rgba(194, 2, 57,0.7); */
    color:rgb(226, 209, 249);

}

.my-called-nums {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    text-align: center;
    gap: 15px;
}

.my-called-nums .my-num{
    margin: 10px 0px;
    padding: 8px 2px;
    font-size: 2.5vw;
    font-weight: bold;
    border-radius: 4px;
    color: rgb(91, 80, 117);
    background-color: rgb(201, 201, 167);
}







